h1 {
    color:black;
    text-align:center;
    font-family:inherit;
}

h2 {
    color:black;
    text-align:center;
    font-family:inherit;
}

h3 {
    color:black;
    text-align:center;
    font-family:inherit;
}

